.login {
	background-image: url("/appMis/assets/login/loginpage.jpg") ;
	background-repeat:no-repeat;
	margin-bottom: 15px;
	overflow: hidden;
	width: 550px;
	height: 350px;
}

.login-inner {

	color: rgba(255, 254, 253, 0.99);
	padding: 16px;
}

.login-inner .sign-in h1 {
	color: #9b1213;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 0;
}

input.formLogin {
	width: 180px;
}
.login_message{
	position:relative;
	top:10px;
	height: 23px;
	width: 550px;
	color: #ffe015;
}

#top{
	background-image: url("/appMis/assets/appMis/background-image.jpg") ;
}